.content {
    display: flex;
    padding-TOP: 76vh;
    margin-bottom:176vh;
    flex-direction: column ;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */

   
    height: 100vh;
    
}
    
