.content {
    display: block;
    padding-TOP: 8vh;
    margin-bottom:0vh;
    flex-direction: column ;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh;
    
}
    
