.content {
    display: flex;
    padding-TOP: 76vh;
    margin-bottom:76vh;
    flex-direction: column ;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    background-color:brown;
    background-size:;
   
    height: 100vh;
    
}
    
