.content {
    display: block;
    padding: 6vh;
    margin-bottom:67vh;
    flex-direction: column;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */

   
    height: 100vh;
    
}
    
.backgroundImage{
    
    
    
}