.content {
    display: flex;
    padding-TOP: 68vh;
    margin-bottom:68vh;
    flex-direction: column ;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */

   
    height: 100vh;
    
}
    
