.content {
    display: flex;
    padding: 6vh;
    margin-bottom:67vh;
    flex-direction: column;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}
    
.backgroundImage{

    background-image: url('./src/assets/home-header.jpeg'); /* Fixed background image */
    background-size: cover;  /* Ensures image covers the entire div */
    background-position: center; /* Centers the background */
    height: 100vh;
}