.content {
    display: flex;
    
    
    margin-bottom:0vh;
    flex-direction: column ;
    justify-content: center;  /* Centers horizontally */
    align-items: ;      /* Centers vertically */
    
    

    
}
    
