

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    
    width: 100%;
    padding: 15px;
    text-align: center;
}

.SD1 {
    width: 80%

}


.content1 {
    display: block;
    margin-top: 150px;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh; 


}
