

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/home-header.jpeg') ;
}

.container {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
}


.content {
    display: block;
    margin-top: 100px;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh; 
    background-image: src=('./assets/home-header.jpeg') 
}
