
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url() ;
}

.container {
    display: block;
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.containerSC1 {
    
    width: 75%;
    
    padding: 10px 80px;
    
    text-align: center;
    justify-content: center;
}


.content {
    display: block;
    margin-top: 100px;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh; 

}
