

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column;
    
}

.container {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.contentWrapper {
    display: flex;
    
    width: 100%;
    padding: 15px;
    text-align: center;

}


.footer {
    display: block;
    padding-top: 0px;
    height: 30vh;

}
