

body {
    padding-bottom: 300px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.container {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.SD1 {
    width: 80%

}


.content1 {
    


}
