

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.contentWrapper {
    flex: 1;

}


.content1 {
    padding-top: 1500px;

}
